[submodule "mc-data-manager"]
	path = mc-data-manager
	url = https://github.com/cloud-barista/mc-data-manager
[submodule "mc-application-manager"]
	path = mc-application-manager
	url = https://github.com/m-cmp/mc-application-manager
